<div class="container">
  <h2>Dashboard</h2>
  <%= react_component("ChoresContainer", current_user: current_user) %>
  <br>
</div>

<div class="container">
  <h3>Sample Goals Form</h3>
  <p>Create your goals here</p>

  <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Goal</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Goal">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Goal Amount</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="How much to save for your goal">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">What is the item you are saving up for?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
   <div className="form-group">
          <button className="btn btn-success" onClick={this.handleSubmit}>Add Goal</button>
          <br/>

          <div>
          <button> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </button>
          </div>
        </div>
</form>
        </div>
</div>

