<h1>Homepage for Kids Chores app</h1>
<p>This page is going to be built in ruby since there are no
    dynamic reason to use React </p>
    <p>We need a login and sign up page</p>
    <p>Add fixed pages like footer,nav,etc</p>
